@using Abp.Web.Mvc.Extensions
@using System.Web.Optimization
@model QuinelaWeb.Web.Models.Quinelas.QuinelaViewModel

@{
    ViewBag.Title = "Create";
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" />
}

<h2>Quinela Modificar <span class="fa fa-edit"></span></h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => Model.Id);
    @Html.HiddenFor(x => Model.Nombre);
    if (Model.QuinelaDetalleJugadas != null) {
        for (var i = 0; i < Model.QuinelaDetalleJugadas.Count(); i++) {
            @Html.HiddenFor(x => Model.QuinelaDetalleJugadas[i].QuinelaId)
            @Html.HiddenFor(x => Model.QuinelaDetalleJugadas[i].Id)
            @Html.HiddenFor(x => Model.QuinelaDetalleJugadas[i].Grupo)
            @Html.HiddenFor(x => Model.QuinelaDetalleJugadas[i].Numero)
            @Html.HiddenFor(x => Model.QuinelaDetalleJugadas[i].PaisLocal)
            @Html.HiddenFor(x => Model.QuinelaDetalleJugadas[i].PaisVisitante)

            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h4> @Html.DisplayFor(x => Model.QuinelaDetalleJugadas[i].Grupo)</h4>
                            <p> Partido: @Html.DisplayFor(x => Model.QuinelaDetalleJugadas[i].Numero)</p>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-center">
                                    <img src="@Url.Content(Model.QuinelaDetalleJugadas[i].ImagePathLocal)" alt="Image" /><br />
                                    @Html.DisplayFor(x => Model.QuinelaDetalleJugadas[i].PaisLocal) <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-md-offset-3 align-center">
                                            @Html.TextBoxFor(x => Model.QuinelaDetalleJugadas[i].PaisLocalGol, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-center">
                                    <img src="@Url.Content(Model.QuinelaDetalleJugadas[i].ImagePathVisitante)" alt="Image" /><br />
                                    @Html.DisplayFor(x => Model.QuinelaDetalleJugadas[i].PaisVisitante)<br />
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-md-offset-3 align-center">
                                            @Html.TextBoxFor(x => Model.QuinelaDetalleJugadas[i].PaisVisitanteGol, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="submit" value="Modificar" class="btn btn-primary" />
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>

    
}
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


